# Skripte
build.py
backup.py
rollback.py
GEMINI.md

# Build-Ordner und Gradle
.gradle/
**/build/
build/
app/build/

# Logs
*.log
full_log.txt
TODO.md

# Android Studio / IntelliJ
.idea/
*.iml
local.properties
build.sh
